* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

video {
    position: fixed;
    left: 0%;
    top: -10%;
    width: 100%;
    height: auto;
    z-index: -80;
    visibility: visible;
    
}

.ingredientes {
    display: flex;
    justify-content: center; 
    margin: 10px;
    font-size: 23px;
    color: rgb(10, 10, 10);
    text-shadow:  4px 2px 2px rgb(231, 217, 217); 
    font-weight: bold;
}

body {
    /* background: linear-gradient(100deg, rgb(63, 196, 63), white,rgb(240, 121, 121));
    background-repeat: no-repeat;
    background-attachment: fixed ; */
    
}

h1 {
    display: flex;
    justify-content: center;    
    padding-top: 1%;
    color: beige;
    text-shadow: 1px 2px 15px black;
    font-size: 40px;
    margin-bottom: 2.5%;
}

ul {
    font-size: 23px;
    margin-left: 60px;
    color: rgb(10, 10, 10);
    text-shadow:  4px 2px 2px rgb(231, 217, 217); 
    font-weight: bold;

}

#card {
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;

    border-radius: 25%;
    width: 90%;
    margin-left: 65px;
    background-color: rgba(36, 97, 31, 0.527);
}

#card h2 {
    display: flex;
    align-items: center;    
    padding-top: 2.5%;
    text-shadow: 4px 2px 2px rgb(231, 217, 217);
    color: rgb(245, 64, 58);
    font-size: 40px;
}

#card h4 {
    display: flex;
    align-items: center;    
    padding-top: 2%;
    text-shadow:4px 2px 2px rgb(226, 214, 214);
    color: rgb(245, 64, 58);
    font-size: 30px;
}

#card p {
    font-size: 25px;
    color: rgb(255, 253, 253);
    padding: 2px 0px 6px 0px;
}

#formulario {
    display: flex;
    justify-content: center;    
    padding: 2%;
    text-shadow: 3px 4px 9px black;
    font-size: 25px;
}



.imagen {
    display: flex; 
    width: 350px;
    height: 240px;
}

